
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 40%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    
}

header h1{
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

header h3{
    margin-bottom: 5px;
}

main{
    width: 40%;
    margin: 0px auto;
    padding: 10px;
  
}

tr:hover{
    background-color: gray;
}

td:hover{
    background-color: gold;
    color: black;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    text-align: left;
}

th{
    background-color: black;
    color: yellow;
    border-color: white;
}

footer{
    width: 37%;
    margin: 0px auto;
    padding: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

footer h5{
    color: yellow;
    font-size: 15px;
    margin-bottom: 5px;
}

footer p{
    margin-bottom: 5px;
    text-align: right;
}

footer span{
    color: yellow;
}

